* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;

}

.main {
    width: 100%;
    color: aliceblue;
    background-color: rgb(85, 159, 255);

}

.main-content {
    background-color: rgb(85, 159, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 70px;

    h1 {
        font-size: 40px;
    }
}

.nev {
    background-color: rgb(85, 159, 255);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;


    ul {
        display: flex;
        align-items: center;
        gap: 60px;
        font-size: large;
        color: rgb(255, 255, 255);
        font-family: Arial, Helvetica, sans-serif;
    }

    ul li {
        list-style: none;
    }

}

.log {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    display: flex;
    gap: 16px;
    align-items: center;
    padding-right: 70px;

    button {
        height: 34px;
        width: 165px;
        background-color: rgb(255, 161, 53);
        border: rgb(106, 168, 250);
        border-radius: 25px;
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-family: sans-serif;
    }

    button:hover {
        background-color: rgb(255, 151, 32);
    }

}

.mid-content {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    padding-bottom: 200px;
    padding-left: 70px;

    .srch {
        display: flex;
        align-items: center;

        .i-bg {
            background-color: rgb(255, 161, 53);
            padding-top: 14px;
            padding-bottom: 14px;
            padding-right: 12px;
            padding-left: 12px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            margin-left: 540.5px;
        }

        input {
            padding-left: 20px;
            padding-right: 400px;
            padding-bottom: 18px;
            padding-top: 18px;
            border-radius: 50px;
            border: none;
        }
    }
}

.mid-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-family: sans-serif;
    width: 650px;
    padding-top: 240px;
    padding-left: 140PX;

    h3 {
        color: rgb(255, 196, 32);
    }

    h1 {
        font-size: 52px;
    }
}

img {
    height: 620px;
    width: auto;
    object-fit: cover;
    padding-top: 80px;
    padding-right: 60px;
}

.below-b {
    background-color: rgba(197, 197, 197, 0.356);
    height: 185px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 248px;
    font-family: sans-serif;

    h2 {
        font-size: 23.5px;
    }

    p {
        font-size: 14px;
    }

    .bg-1 {
        height: 55px;
        width: 55px;
        background: linear-gradient(to left, rgb(24, 182, 121), rgba(84, 216, 209, 0.87));
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bg-2 {
        height: 55px;
        width: 55px;
        background: linear-gradient(to left, rgb(137, 73, 240), rgba(139, 169, 253, 0.788));
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bg-3 {
        height: 55px;
        width: 55px;
        background: linear-gradient(to left, rgb(185, 62, 46), rgba(250, 142, 178, 0.788));
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bg-4 {
        height: 55px;
        width: 55px;
        background: linear-gradient(to left, rgb(51, 186, 219), rgba(62, 228, 219, 0.788));
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.i-c {
    color: azure;
}

.icon-1 {
    gap: 20px;
    display: flex;
}

.icon-2 {
    gap: 20px;
    display: flex;
}

.icon-3 {
    gap: 20px;
    display: flex;
}

.icon-4 {
    gap: 20px;
    display: flex;
}vvvvvvvvv
